@font-face {
    font-family: 'Fuente';
    src: url('../../fonts/VisbyRoundCF-DemiBold.otf');
}
.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: 60vh;
    padding: 2rem;
    margin: 10px;
}
.div{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 30vw;
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* margin: 50px; */
    box-shadow: -2px -1px 6px 6px #fff;
    border: 1px solid #cbd5e1;
    width: 35%;
}
textarea:focus,input:focus {
    outline: none;
    background-color: #dddddd65;
    box-shadow: 0 0 2px #719ECE; 
}

.div label{
    font-family: 'Fuente';
    font-weight: bold;
    margin: 0 ;
    font-size: 0.9rem;
    padding: auto;
    
}
.div input{
    padding: 0.6rem;
    border: 1px solid #cbd5e1;
    width: 80%;
    border-radius: 5px;
}
.buttonDisable{
    width: 85%;
    display: block;
    margin: 0.8rem auto 0 auto;
    opacity: 0.7;
    background: var(--blue_color);
    border: none;
    padding: 0.4rem;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #fff;

}
.button{
    width: 85%;
    padding: 0.4rem;
    background: var(--blue_color);
    color: #fff;
    display: block;
    border: none;
    padding: 0.4rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0.8rem auto 0 auto;
}

.button:hover{
    
    background: #034879;
}
.form textarea{
    width: 80%;
    padding: 0.8rem;
    border-radius: 5px;
    
}
.select{
    width: 80%;
    /* margin: 20px; */
}
.errores{
    color: red;
    font-size: 0.7rem;
    height: 2.4vh;
    min-height: 2.4vh;
    max-height: 2.4vh;
    margin: 6px;
}