:root {
  font-family: "Monsterrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --darkblue: #0f3054;
  --blue: #005692;
  --lightblue: #a4d4ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-height: 100vh;
  overflow: scroll;  
}

