.Options {
    position: absolute;
    background-color: white;
    height: 110px;
    width: 160px;
    bottom: 105%;
    right: 0;
    border-radius: 5px;
    background-color: var(--lightblue);
    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 3px
}
    .Options__option {
        height: 50%;
        width: 100%;
        border: solid #526387 1px;
        margin: auto auto;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--darkblue);
        transition: background-color 0.2s;
    }
    .Options__option:hover {
        background-color: var(--blue);
    }
    #deleteOption:hover {
        background-color: red;
    }

        .Options__option p {
            font-weight: 700;
            font-size: 1.2em;
            color: white
        }

        .Option_icon {
            height: 35px;
            width: 35px;
            border-radius: 5px;
            transition: background-color 0.2s;
            right: 2px;
            color: white
        }
       