.sidebar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.sidebar__links a {
    display: block;
    padding: 0.5rem 0;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}
.bg_activo{
    background: var(--dark_blue_color);
    width: 100%;
    text-align: center;
    
}
