@font-face {
    font-family: 'Fuente';
    src: url('../../fonts/VisbyRoundCF-DemiBold.otf');
}
.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: 60vh;
    padding: 2rem;
    margin: 10px;
}
.div{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 30vw;
}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* margin: 50px; */
    box-shadow: -2px -1px 6px 6px #fff;
    border: 1px solid #cbd5e1;
    width: 35%;
}
.div label{
    font-family: 'Fuente';
    font-weight: bold;
    /* margin: 0.6rem ; */
    padding: auto;
    
}
.div input{
    padding: 0.2rem;
    border: 1px solid #cbd5e1;
    width: 80%;
}
.form button{
    width: 80%;
    padding: 0.4rem;
    background: var(--blue_color);
    color: #fff;
    margin-top: 0.5rem;
    display: block;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.8rem auto 0 auto;
    font-weight: bolder;
    font-size: 1.2rem;
}

.form button:hover{
    
    background: #034879;
}
.form textarea{
    width: 80%;
}
.select{
    width: 80%;
    margin: 20px;
}
.errores{
    color: red;
    font-size: 0.7rem;
    height: 3vh;
    min-height: 3vh;
    max-height: 3vh;
    margin: 6px;
}
.selectError{
    width: 80%;
    margin: 20px;
    color: rgba(255, 0, 0, 0.226);
    border: #034879;
}