.Posts {
    width: 70%;
    max-height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    border-left: solid gray 1px;
}

    .Cards {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

@media screen and (max-width:768px) {
    .Posts {
        width: 100%
    }
}

