.LeftBar__Filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px 0;
    gap: 10px;
    border-top: solid #526387 1px;
}

    .select {
        width: 90%;
    }
