.Post {
    width: 90%;
    margin-top: 25px;
    border-radius: 5px;
    background-color: var(--lightblue);
    color: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s;
    transform: scale(1);
    border: solid #526387 2px;
    border-radius: 7px;
}
.Post:hover {
    transform: scale(1.02);
}


    .Post__title {
        border-bottom: solid black 1px;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: var(--darkblue);
        color: white;
        padding: 2px
    }

    .Post__Organization {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px;
        background-color: var(--blue);
        color: rgb(225, 225, 225);
    }
   
    .organizationName {
        font-weight: 500;
        margin-left: 5px;
    }

    .Post__category {
        position: absolute;
        font-weight: bolder;
        right: 1%;
        top: 3px;
        color: rgb(225, 225, 225);
    }

    .Post__description {
        flex: 1;
        min-height: 40px;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.25em; 
        border-top: solid black 1px;
        border-bottom: solid black 1px
    }

    .image {
        width: auto;
        max-height: 100%;
        align-self: flex-start;
        display: inline;
    }

    .Post__BottomBar {
        min-height: auto;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--darkblue);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 2px
    }

        .BottomBar__deleteIcon {
            height: 30px;
            width: 30px;
            border-radius: 5px;
            transition: background-color 0.2s;
            color: white;
            position: absolute;
            right: 2px;
        }
        .BottomBar__deleteIcon:hover {
            background-color: red;
        }

        .BottomBar__calendarIcon {
            color: white;
            width: 30px;
            height: 30px;
        }
        .BottomBar__startDate {
            color: white;
            display: inline;
            margin-left: 5px;
            padding-right: 5px;
            font-size: 1.3em;
            border-right: solid gray 1px;
        }
        
        .BottomBar__SocialIcons {
            margin: 0 5px;
            width: 71.5%;
            display: flex;
        }
            .SocialIcons__likeContainer {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s;
            }
            .SocialIcons__likeContainer:hover {
                background-color: var(--blue)
            }
                .likeIcon {
                    color: white;
                    width: 30px;
                    height: 30px;
                }
            .SocialIcons__commentContainer {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s;
            }
            .SocialIcons__commentContainer:hover {
                background-color: var(--blue)

            }
                
                .commentIcon {
                    color: white;
                    width: 30px;
                    height: 30px;
                }

.swallowOkButton {
    background-color: var(--blue);
}


     

@media screen and (max-width: 992px) {
    .Post {
        width: 97%;
    }
}