.Post {
    width: 90%;
    margin-top: 25px;
    border-radius: 5px;
    background-color: var(--lightblue);
    color: inherit;
    display: flex;
    flex-direction: column;
    position: relative;
}
    .Post__icon {
        height: 30px;
        width: 30px;
        border: solid black 1px;
        border-radius: 5px;
        transition: background-color 0.3s;
        margin-right: 3px;
    }
    .Post__icon:hover {
        background-color: red;
    }

    .Post__title {
        border: solid black 1px;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: var(--darkblue);
        color: white;
        padding: 2px
    }

    .Post__Organization {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        padding: 2px;
    }
   
    .organizationName {
        font-weight: 500;
        margin-left: 5px;
    }

    .Post__category {
        position: absolute;
        right: 1%;
        top: 3px;
        color: gray
    }

    .Post__description {
        flex: 1;
        width: 100%;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px;
        font-size: 1.25em
    }

    .Post__img {
        border: solid black 1px;
        width: 300px;
        height: 300px;
        align-self: flex-start;
        display: inline;
    }

    .Post__BottomBar {
        border-top: solid gray 1px;
        height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

@media screen and (max-width: 992px) {
    .Post {
        width: 97%;
    }
}