.HomeView {
    max-height: 86vh;
    min-height: 86vh;
    display: flex; 
}
    



@media screen and (max-width: 992px) {
    .HomeView {
        flex-direction: column;
        min-height: 115vh;
    }
}

    

