.LeftBar__Filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px 0;
    gap: 10px;
}

    .select {
        width: 90%;
    }

    .Filters__date {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }