@font-face {
    font-family: 'MiFuente';
    src: url('../../fonts/VisbyRoundCF-Light.otf');
}
.DetailView {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.contain img{
   width: 30vw;
   height: 40vh;
   border-radius: 5px;
   margin: 1.5rem;
}
.contain{
    padding: 10px 100px;
    background: var(--sky_color);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.title{
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    width: 60vw;
    /* color:#FFF; */
}
.title h1{
    font-size: 2rem;
}
.title a{
    background-color: var(--blue_color);
    display: flex;
    margin: 0.8rem;
    width: fit-content; 
    padding: 0.4rem;
    border-radius: 15px;
    font-size: 0.7rem;
}
.title p{
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: row;
}
.Detail{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px red solid; */
    margin: 1rem;
    width: 60vw;

}
.Detail h2{
    /* margin: 1rem; */
    padding: 0.4rem;
    font-size: 2rem;
    
}
.title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    border-bottom: 1px #44617a60 solid;
    
}
.Detail h3{
    padding: 0.4rem;
    font-size: 1rem;
}
.Detail p{
    font-size: 1rem;
    margin: 0.4rem;
}