@font-face {
    font-family: 'MiFuente';
    src: url('../../fonts/VisbyRoundCF-Light.otf');
}
.DetailView {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.contain img{
   width: 40vw;
   height: 80vh;
   border-radius: 5px;
   margin: 1.5rem;
}
.contain{
    padding: 10px 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background:  var(--sky_color); */
    
}
.Detail{
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    width: 50vw;
    border: 1px rgba(0, 0, 0, 0.191) solid;
    /* background-color: var(--blue_color); */
    /* color: #FFF; */
    justify-content: center;
}
.Detail h1{
    font-size: 2rem;
    display: block;
    border-bottom: 1px rgba(0, 0, 0, 0.291) solid;
    padding: 1rem;
}
.Detail k{
    background-color: var(--blue_color);
    margin: 0.8rem;
    width: fit-content; 
    padding: 0.4rem;
    border-radius: 15px;
    font-size: 0.7rem;
}
.Detail p{
    font-size:0.9rem;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.text{
    padding: 2rem;
    margin: 0.4rem;

}
