.ant-notification-notice-message {
    color: #005692 !important;
}

.ant-notification-notice-title{
    font-size:1.2rem !important;
}
.ant-notification-notice-description{
    font-size:1.2rem !important;
}