:root{
    --blue_color: #005692;
    --purple_color: #30306d;
    --dark_blue_color: #0f3054;
    --sky_color: #a4d4ff;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
   
  }
  body{
    margin: 0;
  }
  p, h1, h2, h3, h4, h5, h6{
    margin: 0;
  }


.admin__container {
    display: grid;
  
}
@media(min-width: 768px){
    .admin__container{
        grid-template-columns:2fr 4fr;
        
    }
}
@media(min-width: 1200px){
    .admin__container{
        grid-template-columns:1fr 4fr;
      
  }
}
.sidebar{
 
    display: none; 

}
@media(min-width: 768px){
    .sidebar{
        display: flex;
        flex-direction: column;
        height: 90vh;
     
        background: var(--blue_color);
        z-index: 1;
    }
}
.sidebar__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar__none {
    display: none;
}
.sidebar__icon{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0.3rem;
}

@media(min-width: 768px){
    .sidebar__icon{
        display: none;
    
    }
}
@media(min-width: 768px){
    .sidebar{
        display: flex;
    }
}
.dashboard{
    height: 80vh;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.dashboard::-webkit-scrollbar {
    display: none;
  }
.sidebar__title{
    text-align: center;
    margin:  0.5rem auto;
    color: #fff;
    font-weight: 900;
    font-size: 1.4rem;	
}
.dashboard__btn{
   
    background: var(--dark_blue_color);
    color: #fff;
    font-weight: 900;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    bottom: 1rem;
    width: 90%;
    text-align: center;
    position: fixed; 
    right: 0;
    left: 0;
    margin: auto;

}
.dashboard__btn:hover{
    background: #06213d;
    cursor: pointer;
}
@media(min-width: 768px){
    .dashboard__btn{
        width: 50%;
        right: inherit;
        left: inherit;
    
    }
    .dashboard__div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.dashboard__div--cards{
    width: 90%;
    margin: 0 auto;

}
.dashboard__card{
    background: #cbd5e1;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
    width:100%;
    margin:  2rem auto;
    height: 100%;
}
.dashboard__p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    width: 90%;
}
.dashboard__img{
    width: 100px;
}
.dashboard__info{
    width: 90%;
    margin-left: 1rem;

}
.dashboard__selected{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
}
.dashboard__trash{
    width: 30px;
}
.dashboard__check{
    width: 20px;
    height: 30px;

}
.drawer {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s;
  }
  
  .drawer.open {
    left: 0;
  }



   .sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
 .search__input{
    width: 90%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    margin: 0.5rem auto;
    display: block;
    background: #d4d9e0
  } 
      
