.LeftBar {
    width: 30%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .LeftBar__Buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 13px 0;
        gap: 10px;
    }

        .button {
            color: inherit;
            height: 70px;
            max-height: 100px;
            width: 90%;
            max-width: 90%;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            background: var(--lightblue);
            transition: background-color, border, color 0.4s;
        }
        
        
        .button:hover {
            background-color: var(--darkblue);
            color: white;
            border: solid var(--lightblue) 5px

        }

        
        .select {
            width: 90%;
        }

   

#active {
    background-color: var(--darkblue);
    color: white;
    cursor: inherit;
    border: solid var(--lightblue) 5px
}

    