.LeftBar {
    width: 30%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .LeftBar__Buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 13px 0;
        gap: 10px;
    }
    

        .button {
            color: inherit;
            height: 70px;
            max-height: 100px;
            width: 90%;
            max-width: 90%;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.5em;
            background-color: var(--lightblue);
            transition: border, color, background-color 0.2s;
        }
            
        .button:hover {
            background-color: var(--darkblue);
            color: white;
        }

        .select {
            width: 90%;
        }

        .Filters__date {
            width: 80%;
            display: flex;
            justify-content: space-between;
        }


#active {
    background-color: var(--darkblue);
    color: white;
    cursor: inherit;
    /* border: solid var(--lightblue) 4px; */
}

@media screen and (max-width: 768px) {
    .LeftBar {
        width: 100%;
    }
    .LeftBar__Buttons {
        flex-direction: row;
        width: 97%;
    }
    #LeftBar__Filters {
        flex-direction: column;
    }
}

    