.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Esto ajusta el alto del contenedor al alto de la ventana */
  }
  
  .title {
    color:red;
    margin-bottom: .4rem;
  }
  
  .redirect {
    margin-bottom: 3rem;
  }
  