body html {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'MiFuenteBold';
    src: url('../../fonts/VisbyRoundCF-Medium.otf');
}
:root {
    --color-primario:#0f3054;
    --color-secundario: #30306d;
    --color-terciario:#005692;
    --color-cuartiario:#a4d4ff;
    --color-quintario:#ea9642;
  }

.containerCenter{
    display: flex;
    flex-direction: row;
    display: 100vw;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 40px; */
    padding: 10px;

}
.contain h4{
    font-family: 'MiFuenteBold';
    margin: 10px;
}
.container h1{
    font-family: 'MiFuenteBold';
    font-weight: bold;  
    color: black;
   }


.title {
    margin: 8px;
    font-size: 1.2em;
}

.username {
    margin-top: 0;
    font-style: italic;
}


.descripcion {
    margin: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}
.contain:hover{
    /* background-color: #74baff5b; */
    /* border: none; */
    transition: 0.3s;
}
.respuestas {
    margin: 2px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    margin-top: 0;
    
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.titulo {
    font-size: 2em;
    margin: 1rem;
    
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1.5rem;
    border-bottom: var(--color-primario) solid 1px ;
    transition: 0.5s;
    /* min-height: 32vh;
    max-height: 32vh; */
    max-width: 60vw;
    min-width: 60vw;
    margin: 10px;
    background-color: var(--color-cuartiario);
    
}
.contain button:hover{
    background: var(--color-terciario);
    transition: 0.3s;
}
.contain p{
    font-size: 1.1em;
}
.contain button{
    display: flex;
    flex-direction: row;
    border: none !important;
    align-items: center;
    justify-content: center;
    padding: 0.4rem; 
    margin-top: 1rem;
    font-size: 0.9rem;
    background: var(--blue_color);
    border-radius: 5px;
    min-height: 5vh;
    max-height: 5vh;
    transition: 0.3s;
    color: #FFF;
    cursor: pointer; 
}
.contain button:hover{
    background: #034879;

}

.anwers {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    /* margin: 5px; */
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center{
    display: flex;
    flex-direction: column;
    width: 57vw;
}

@media (max-width: 575.98px) {  
    .contain{
     margin-top: 20px;
     max-width:60vw;
     max-height:70vh;
     margin: 10px;
     padding: 1rem;
    }
    
    .container{
        margin-top: 20px;
    }
    .contain a{
        font-size: 0.8em;
        /* width: 40vw; */
        /* margin: 10pxs; */
    }
    .contain p{
        font-size: 1em;
        margin: 0.5rem;
    }
    
    .div{
        width:70vw;
        
    }
    .contain button{
        font-size: 0.9rem;
        padding: 0.7rem 0.8rem;
    }
    .containerCenter{
        display:flex;
        flex-direction: column;
       
    }
}
@media (max-width: 768px){
    .containerCenter{
        display: flex;
        flex-direction: column;
    }
    .contain{
        margin: 20px;
        max-width: 80vw;
        min-width: 80vw;
        /* height: 100vh; */
    }
    .center{
        width: 70vw;
        max-width: 70vw;   
        min-width: 70vw;
        
    }

}